{% extends "base.html" %}
{% block 'titulo' %}
   Login
{% endblock %}
{% block 'menu' %}
{% include 'menu.html' %}
{% endblock %}
{% block 'conteudo' %} 
<h2>Login</h2>
        <form action = {% url 'login' %} method="POST"> {% csrf_token %}
            
            <input type='text' placeholder="CPF" name="cpf">
            <br>
            <input type='password' placeholder="Senha" name="senha">
            <br>
            <input class="btn btn-success" type='submit' value="Entrar">
            <a  class="btn btn-warning" href="{% url 'cadastro' %}"role="button">cadastrar</a>
        </form>

        {% endblock %}

