{% extends "base.html" %}
{% block 'titulo' %}
   Conceder Permissão
{% endblock %}
{% block 'menu' %}
{% include 'menu.html' %}
{% endblock %}
{% block 'conteudo' %} 

<h1>Conceder Permissão</h1>
<form method="post">
    {% csrf_token %}
    <label class="form-control-file form-control-sm" for="cpf_usuario">CPF do Usuário:</label>
    <input type="text" class="form-control-file form-control-sm" id="cpf_usuario" name="cpf_usuario" required>
    <button type="submit" class="btn btn-primary btn-sm" >Conceder Permissão</button>
</form>
{% endblock %}