{% extends "base.html" %}
{% block 'titulo' %}
   Cadastrar Especialidade
{% endblock %}
{% block 'menu' %}
{% include 'menu.html' %}
{% endblock %}
{% block 'conteudo' %} 
    <div class="container">
        <h1 class="mt-4">Cadastrar Nova Especialidade</h1>

        {% if messages %}
            <div class="alert alert-warning" role="alert">
                <ul class="mb-0">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <form method="post" enctype="multipart/form-data" class="mt-4">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="especialidade">Título:</label>
                <input type="text" placeholder="especialidade" class="form-control form-control-sm" id="especialidade" name="especialidade" required>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-sm">Criar Documento</button>
            </div>
        </form>
    </div>
{% endblock %}