{% extends "base.html" %}
{% block 'titulo' %}
   Listar Documentos
{% endblock %}
{% block 'menu' %}
{% include 'menu.html' %}
{% endblock %}
{% block 'conteudo' %} 

<h1>Meus Documentos</h1>

{% for tipo, documentos in documentos_proprios.items %}
    <h3 style="margin-top: 20px;">{{ tipo }}</h2>  <!-- Nome da Especialidade -->

    <table style="width: 100%; border-collapse: collapse; margin-bottom: 20px;">
        <thead>
            <tr>
                <th style="text-align: left; padding: 8px; width: 50%;">Título</th>
                <th style="text-align: left; padding: 8px;">Privacidade</th>
                <th style="text-align: left; padding: 8px;">Data do Documento</th>
                <th style="text-align: left; padding: 8px;">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for documento in documentos %}
            <tr>
                <td style="padding: 8px;">
                    <a href="{% url 'detalhes_documento' documento.id %}"><strong>{{ documento.titulo }}</strong></a>
                </td>
                <td style="padding: 8px;">
                    {% if documento.secreto %}
                    <span class="red">Privado</span>
                    {% else %}
                    <span class="green">Público</span>
                    {% endif %}
                </td>
                <td style="padding: 8px;">
                    {{ documento.data_documento|date:"d \d\e F \d\e Y" }}
                </td>
                <td style="padding: 8px;">
                    <a href="{% url 'editar_documento' documento.id %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'excluir_documento' documento.id %}" class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}

{% if documentos_compartilhados.items %}
<h1>Documentos Compartilhados Comigo</h1>

{% for tipo, documentos in documentos_compartilhados.items %}
    <h3 style="margin-top: 20px;" >{{ tipo }}</h2>

    <table style="width: 100%; border-collapse: collapse; margin-bottom: 20px;">
        <thead>
            <tr>
                <th style="text-align: left; padding: 8px;">Título</th>
                <th style="text-align: left; padding: 8px;">Data do Documento</th>
                <th style="text-align: left; padding: 8px;">Proprietário</th>
            </tr>
        </thead>
        <tbody>
            {% for documento in documentos %}
            <tr>
                <td style="padding: 8px;">
                    <a href="{% url 'detalhes_documento' documento.id %}"><strong>{{ documento.titulo }}</strong></a>
                </td>
                <td style="padding: 8px;">
                    {{ documento.data_documento|date:"d \d\e F \d\e Y" }}
                </td>
                <td style="padding: 8px;">
                    {{ documento.proprietario.first_name }} {{ documento.proprietario.last_name }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}
{% endif %}

{% endblock %}