{% extends "base.html" %}
{% block 'titulo' %}
   Listar Documentos
{% endblock %}
{% block 'menu' %}
{% include 'menu.html' %}
{% endblock %}
{% block 'conteudo' %} 

<h1>Meus Documentos</h1>
<table style="width: 100%; border-collapse: collapse; margin-bottom: 20px;">
    <thead>
        <tr>
            <th style="text-align: left; padding: 8px; width: 50%;">Tipo</th>
            <th style="text-align: left; padding: 8px;">Ações</th>
        </tr>
    </thead>
    <tbody>
{% for tipo in tipos %}

            <tr>
                <td style="padding: 8px;">
                    <strong>{{ tipo }}</strong></a>
                </td>
                <td style="padding: 8px;">
                    <a href="{% url 'excluir_especialidades' tipo.id %}" class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>



{% endblock %}